
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

body{
    background-position: center;
    background-size: cover;
}

.btn-default{
    
    color: royalblue;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

canvas{
   
    border-radius: 10px;
    border: 5px dotted royalblue;
    margin-top: 100px;
}